/target/classes/application.properties
/target/classes/com/jacob/superschlag/entity/Avatar$AvatarBuilder.class
/target/classes/com/jacob/superschlag/entity/Avatar.class
/target/classes/com/jacob/superschlag/controller/AvatarController.class
/target/classes/com/jacob/superschlag/exception/access/AvatarDao.class
/target/classes/com/jacob/superschlag/exception/transfer/AvatarDto$AvatarDtoBuilder.class
/target/classes/com/jacob/superschlag/exception/transfer/AvatarDto.class
/target/classes/com/jacob/superschlag/exception/mapping/AvatarMapper.class
/target/test-classes/com/jacob/superschlag/exception/mapping/AvatarMapperTest.class
/target/classes/com/jacob/superschlag/repository/AvatarRepository.class
/target/classes/com/jacob/superschlag/service/AvatarService.class
/target/test-classes/com/jacob/superschlag/service/AvatarServiceTest.class
/target/classes/com/jacob/superschlag/entity/Battle$BattleBuilder.class
/target/classes/com/jacob/superschlag/entity/Battle.class
/target/classes/com/jacob/superschlag/entity/BattleStatus.class
/target/classes/com/jacob/superschlag/entity/Contact$ContactBuilder.class
/target/classes/com/jacob/superschlag/entity/Contact.class
/target/classes/com/jacob/superschlag/entity/ContactStatus.class
/target/classes/com/jacob/superschlag/controller/ExceptionHandlingController.class
/target/classes/com/jacob/superschlag/entity/Item$ItemBuilder.class
/target/classes/com/jacob/superschlag/entity/Item.class
/target/classes/com/jacob/superschlag/exception/transfer/ItemDto$ItemDtoBuilder.class
/target/classes/com/jacob/superschlag/exception/transfer/ItemDto.class
/target/classes/com/jacob/superschlag/exception/mapping/ItemMapper.class
/target/classes/com/jacob/superschlag/entity/ItemType.class
/target/classes/com/jacob/superschlag/entity/Job$JobBuilder.class
/target/classes/com/jacob/superschlag/entity/Job.class
/target/classes/com/jacob/superschlag/exception/transfer/JobDto$JobDtoBuilder.class
/target/classes/com/jacob/superschlag/exception/transfer/JobDto.class
/target/classes/com/jacob/superschlag/exception/mapping/JobMapper.class
/target/classes/com/jacob/superschlag/entity/OwnedItem$OwnedItemBuilder.class
/target/classes/com/jacob/superschlag/entity/OwnedItem.class
/target/classes/com/jacob/superschlag/exception/transfer/OwnedItemDto$OwnedItemDtoBuilder.class
/target/classes/com/jacob/superschlag/exception/transfer/OwnedItemDto.class
/target/classes/com/jacob/superschlag/exception/mapping/OwnedItemMapper.class
/target/classes/com/jacob/superschlag/entity/Stats$StatsBuilder.class
/target/classes/com/jacob/superschlag/entity/Stats.class
/target/classes/com/jacob/superschlag/exception/transfer/StatsDto$StatsDtoBuilder.class
/target/classes/com/jacob/superschlag/exception/transfer/StatsDto.class
/target/classes/com/jacob/superschlag/exception/mapping/StatsMapper.class
/target/classes/META-INF/superschlag-service.kotlin_module
/target/classes/com/jacob/superschlag/SuperschlagApplication.class
/target/test-classes/SuperschlagApplicationTests.class
/target/classes/com/jacob/superschlag/entity/User$UserBuilder.class
/target/classes/com/jacob/superschlag/entity/User.class
